@using WebApp.Models;
@inject SignInManager<ApplicationUser> signInManager;

@model IEnumerable<WebApp.DTO_Models.Certificates.CertificateDTO>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h1>Certificate's List</h1>

@if (User.IsInRole("Administrator"))
{
    
<p>
    <a type="button" class="btn btn-primary btn-lg" asp-action="CreateCertificate">Create Certificate</a>
</p>
}
<table class="table table-hover table-light">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassMark)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassMark)
            </td>

            <td>
                <a asp-action="CertificateDetails" asp-route-id="@item.CertificateId">Details</a>
                    @if (!User.IsInRole("Administrator") && !User.IsInRole("Quality Controller"))

                    {
                        
                        <a asp-action="CandidateRegistration" asp-controller="Users" asp-route-id="@item.CertificateId">Buy</a>
                    }
                    
                        
                    
                    @if(User.IsInRole("Administrator")){

                
                        <a class="btn btn-outline-success" asp-action="EditCertificate" asp-route-id="@item.CertificateId">Edit</a>
                        <a class="btn btn-outline-danger" asp-action="DisableCertificate" asp-route-id="@item.CertificateId">Disable</a>
                    }

            </td>
        </tr>
}
    </tbody>
</table>



