@model WebApp.DTO_Models.Certificates.CreateCertificateView

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Certificate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="EditCertificate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.CertificateDTO.CertificateId" />
            <div class="form-group">
                <label asp-for="@Model.CertificateDTO.Title" class="control-label"></label>
                <input asp-for="@Model.CertificateDTO.Title" class="form-control" />
                <span asp-validation-for="@Model.CertificateDTO.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CertificateDTO.Description" class="control-label"></label>
                <input asp-for="@Model.CertificateDTO.Description" class="form-control" />
                <span asp-validation-for="@Model.CertificateDTO.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CertificateDTO.Status" class="control-label"></label>
                <input asp-for="@Model.CertificateDTO.Status" class="form-control" />
                <span asp-validation-for="@Model.CertificateDTO.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CertificateDTO.PassMark" class="control-label"></label>
                <input asp-for="@Model.CertificateDTO.PassMark" class="form-control" />
                <span asp-validation-for="@Model.CertificateDTO.PassMark" class="text-danger"></span>
            </div>
            <div class="form-group form-label mt-4" id="topicSelect">
                <label asp-for="SelectedLevelId"></label>
                <select asp-for="SelectedLevelId" asp-items="Model.CertificateLevelsList"></select>
                <span asp-validation-for="SelectedLevelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CertificatesIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
