@model WebApp.DTO_Models.CandidateExaminations.CandidateExaminationsDTO
<div class="center mt-5">
    <h1>Start Exam</h1>
    <h5>Examination Code: @Model.ExamCode</h5>
    <h5>Candidate: @Model.Candidate.LastName @Model.Candidate.FirstName</h5>
    <h5>Certificate: @Model.Examination.Certificate.Title</h5>
    <a class="btn btn-success mt-2" asp-action="StartExamination" asp-route-candidateExamId="@Model.CandidateExaminationId" asp-route-examId="@Model.Examination.ExaminationId">Start Exam</a>
</div>
