@model WebApp.DTO_Models.Final.ExaminationQuestionView

<body>

    <h1 style="margin:0 auto;width:50%">ExamSystem</h1>


    <h2>@Html.Raw(Model.Questions[Model.CurrentIndex].QuestionDisplay)</h2>
    <form method="post" asp-action="StartExamination">
        <input type="hidden" name="myModel" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)" />

        <div class="form-group">
            @foreach (var answer in Model.Questions[Model.CurrentIndex].PossibleAnswers)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="SelectedAnswerId" value="@answer.QuestionPossibleAnswerId") />
                    <label class="form-check-label">@Html.Raw(answer.QuestionPossibleAnswer)</label>
                </div>
            }
        </div>
        <button type="submit" name="action" value="Next">Next</button>
    </form>

    <button id="previous">Previous</button>
    <button id="next">Next</button>

</body>


@*<script src="~/js/exams.js"></script>*@
@*<script>
    var questions = @Html.Raw(Json.Serialize(Model.Questions));
</script>*@







