@model WebApp.DTO_Models.QuestionDetailsView

@{
    ViewData["Title"] = "Details";
}

<h2>Question Details</h2>

@*<dl>
    <dt>Display</dt>
    <dd>@Html.Raw(Model.QuestionDisplay)</dd>

    <dt>Difficulty</dt>
    <dd>@Model.QuestionDifficulty</dd>



    <dt>Topics</dt>
    @if (Model.Topics.Count == 0)
    {
        <dd>
            <ul>
                <li>No Topics</li>
            </ul>
        </dd>
    }
    else
    {
        foreach (var topic in Model.Topics)
        {

            <ul>
                <li>@topic.Title</li>
            </ul>


        }

    }

    <dt>Certificates</dt>
    <dd>
        @foreach (var cert in Model.Certificates)
        {
            <ul>
                <li>@cert.Title</li>
            </ul>
        }
    </dd>



    <dt>Answers</dt>
    <dd>
        <ul>
            @foreach (var answer in Model.Answers)
            {
                <li>
                    @Html.Raw(answer.PossibleAnswer)
                    @if (answer.IsCorrect)
                    {
                        <em>(Correct Answer)</em>
                    }
                </li>
            }
        </ul>
    </dd>
</dl>*@

<table class="table table-hover width=80% table-light" style = "text-align: center">
        <tr>
        <th>Display</th>
        <td>@Html.Raw(Model.QuestionDisplay)</td>
    </tr>
    <tr>
        <th>Difficulty</th>
        <td>@Model.QuestionDifficulty</td>
    </tr>
    <tr>
        <th>Topics</th>
        <td>
                @if (Model.Topics.Count == 0)
                {
                    <ul>
                        <li>No Topics</li>
                    </ul>
                }
                else
                {
                    <ul>
                        @foreach (var topic in Model.Topics)
                        {
                                <li>@topic.Title</li>
                        }
                    </ul>
                }
        </td>
    </tr>
    <tr>
        <th>Certificates</th>
        <td>
            <ul>
                    @foreach (var cert in Model.Certificates)
                    {
                        <li>@cert.Title</li>
                    }
            </ul>
        </td>
    </tr>
    <tr>
        <th>Answers</th>
        <td>
            <ul>
                    @foreach (var answer in Model.Answers)
                    {
                        <li>
                            @Html.Raw(answer.PossibleAnswer)
                            @if (answer.IsCorrect)
                            {
                                    <em>(Correct Answer)</em>
                            }
                        </li>
                    }
            </ul>
        </td>
    </tr>
</table>
