@model WebApp.DTO_Models.QuestionDetailsView

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<dl>
    <dt>Display</dt>
    <dd>@Model.QuestionDisplay</dd>

    <dt>Difficulty</dt>
    <dd>@Model.QuestionDifficulty</dd>

    <dt>Topics</dt>
    <dd>
        
        
            @foreach (var topicId in Model.Topics)
            {
                if(topicId == null)
                {
                    <ul>
                    <li>No Topics</li>

                    </ul>
                }
                else
                {
                    <ul>
                    <li>@topicId.Title</li>
                    </ul>
                }
                
            }
        
        
    </dd>
    <dt>Certificates</dt>
    <dd>
        
            @foreach (var cert in Model.Certificates)
            {
                if(cert == null)
                {
                    
                    <h6>NO CERT</h6>
                    
                }
                else
                {
                    <ul>
                    <li>@cert.Title</li>
                    </ul>
                }
                
            }
        
    </dd>

    

    <dt>Answers</dt>
    <dd>
        <ul>
            @foreach (var answer in Model.Answers)
            {
                <li>
                    @answer.PossibleAnswer
                    @if (answer.IsCorrect)
                    {
                        <em>(Correct Answer)</em>
                    }
                </li>
            }
        </ul>
    </dd>
</dl>
