@model WebApp.DTO_Models.EditQuestionTopicView

@{
    ViewData["Title"] = "Index";
}

<h1>Edit Topics</h1>
<h1>Question @Model.QuestionId</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="QuestionId" />

<div>
    <a class="btn btn-primary btn-lg" asp-action="AddQuestionTopic" asp-route-id="@Model.QuestionId">Add Topic</a><br /><br />
</div>
<table class="table table-hover table-light">
    <thead class="table-primary">
        <tr>
            <th>Topic</th>
            <th>Description</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Topics)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class= "btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.TopicId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
