@model IEnumerable<MyDatabase.Models.QuestionPossibleAnswer>

    <h1>Edit Answers</h1>

<table class="table table-hover table-light">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PossibleAnswer)
            </th>
            <th>Answer Tag</th>
            <th>Edit Answer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(item.PossibleAnswer)
                </td>
                <td>
                    @Html.Raw(item.IsCorrect)
                </td>
                <td>
                    <a class="btn btn-outline-success" asp-action="EditSelectedAnswer" asp-route-id="@item.QuestionPossibleAnswerId">Edit</a>
@*                    <a asp-action="Details" asp-route-id="@item.QuestionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.QuestionId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>

