@model IEnumerable<MyDatabase.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/questionsIndex.css" asp-append-version="true" />
</head>

<h1>Questions List</h1>
@if (User.IsInRole("Administrator"))
{
<p>
    <a type="button" class="btn btn-primary btn-lg" asp-action="Create">Add New Question</a>
</p>
    
}

<table class="table table-hover table-light">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Display)
            </th>
            @if (User.IsInRole("Administrator")){<th>Edit Actions</th>}
            <th>Details</th>
            @if (User.IsInRole("Administrator")){<th>Delete</th>}
            

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.Raw(item.Display)
                    </td>
                @if (User.IsInRole("Administrator"))
                {
                    
                    <td >
                        <a class="btn btn-link" asp-action="Edit" asp-route-id="@item.QuestionId">Edit Display</a> |
                        <a class="btn btn-link" asp-action="EditAnswersIndex" asp-route-id="@item.QuestionId">Edit Answers</a> |
                        <a class="btn btn-link" asp-action="EditQuestionTopicsIndex" asp-route-id="@item.QuestionId">Edit Topics</a> |
                        <a class="btn btn-link" asp-action="EditQuestionCertificatesIndex" asp-route-id="@item.QuestionId">Edit Certificate</a>
                    </td>
                }
                    <td>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.QuestionId">Details</a>
                </td>
                @if (User.IsInRole("Administrator"))
                {
                    
                    <td>
                        <a class="btn btn-outline-danger" asp-action="ConfirmChangeQuestionStatus" asp-route-id="@item.QuestionId">Set Unavailable</a>
                    </td>
                }
                </tr>
        }
    </tbody>
</table>
