@model MyDatabase.Models.Candidate

@{
    ViewBag.Title = "Candidate Details";
}

<h2>Details</h2>
<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="dl-vertical">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryOfResidence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryOfResidence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NativeLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NativeLanguage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandlineNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandlineNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoIdType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoIdType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoIdNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoIdNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoIdIssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoIdIssueDate)
        </dd>

    </dl>
    <p>Addresses</p>
    @foreach (var a in Model.Addresses)
    {
        <p>Address Line : @a.AddressLine</p>
        <p>State :@a.State</p>
        <p>Province :@a.Province</p>
        <p>City :@a.City</p>
        <p>Postal Code :@a.PostalCode</p>

    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CandidateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

