@model WebApp.DTO_Models.Final.MarkingEditAnswerView


<h1 style="margin:0 auto;width:50%">ExamSystem</h1>
<h4>@Html.Raw(Model.Question.QuestionDisplay)</h4>

<p>Correct Answer: @Model.CorrectAnswer</p>


<form method="post" asp-action="EditExamAnswers">

    <input type="hidden" name="id" asp-for="@Model.CandidateAnswerId" />
    <input type="hidden" name="candidateExamId" asp-for="@Model.CandidateExaminationId" />


    <input type="text" asp-for="@Model.pointsAssigned" readonly />
    <input name="pointAwardedAfterMarking" asp-for="@Model.pointsAssignedbyMarker" value="@Model.pointsAssigned" />

    <div class="form-group">
        <label asp-for="SelectedAnswer" class="control-label">Candidate Selected Answer</label>
        @foreach (var answer in Model.Question.PossibleAnswers)
        {
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="SelectedAnswer" disabled value="@answer.QuestionPossibleAnswerId"
                   @if (answer.QuestionPossibleAnswerId == Model.SelectedAnswer)
                   {
            <text> checked </text>
            }
            />
                <label class="form-check-label" for="SelectedAnswer">@answer.QuestionPossibleAnswer</label>
            </div>
        }
        <span asp-validation-for="@Model.SelectedAnswer" class="text-danger"></span>
    </div>

    <button type="submit" name="action" value="Next">Next</button>
</form>



