@model IEnumerable<MyDatabase.Models.CandidateExaminationAnswer>

@{
    ViewData["candidateExamId"] = Model.FirstOrDefault().CandidateExam.CandidateExaminationId;
}

<h1>
    Mark Examination
</h1>

<table class="table table-hover width=80% table-light" style="text-align: center">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CertificateTopicQuestion.TopicQuestion.Question)
            </th>
            <th>Edit Actions</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(item.CertificateTopicQuestion.TopicQuestion.Question.Display)
                </td>
               
                <td>
                    <a class="btn btn-warning" asp-action="EditExamAnswers" asp-route-id="@item.CandidateExaminationAnswerId" asp-route-candidateExamId="@ViewData["candidateExamId"]">Mark Answers</a>

                </td>
               
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-lg btn-success" style="align-content:center" asp-action="CompleteCandidateExaminationRemarking" asp-route-candidateExamId="@ViewData["candidateExamId"]">Save</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
