@model IEnumerable<MyDatabase.Models.CandidateExamination>

@{
    ViewData["Title"] = "Index";
}

<h1>Examinations Pending Marking</h1>


<table class="table table-hover table-light">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExamCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamDate)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExamCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamDate)
            </td>
            <td>
                <a type="button" class="btn btn-outline-success" asp-action="GetExamQuestions" asp-route-id="@item.CandidateExaminationId">Mark Exam</a> 
            </td>
        </tr>
}
    </tbody>
</table>
