@model WebApp.DTO_Models.ExaminationView


<h1 style="margin:0 auto;width:50%">ExamSystem</h1>

<form asp-action="Create" style="width:auto; margin:auto;border: 1px solid black;padding: 10px;display: inline-block; ">

    <div class="form-group">
        <label asp-for="@Model.Question.Display" class="control-label">Question</label>
        <div>@Html.Raw(Model.Question.Display)</div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.AnswerA.Display" class="control-label">A</label>
        <div>@Html.Raw(Model.AnswerA.Display)</div>
        <label asp-for="@Model.AnswerA.SelectedAnswer" class="control-label">Is correct</label>
        <input asp-for="@Model.AnswerA.SelectedAnswer" name="IsCorrect" class="form-check-input" style="float:right" type="checkbox" onclick="handleCheckboxClick(this)" /><br /><br />
    </div>
    <div class="form-group">
        <label asp-for="@Model.AnswerB.Display" class="control-label">B</label>
        <div>@Html.Raw(Model.AnswerB.Display)</div>
        <label asp-for="@Model.AnswerB.SelectedAnswer" class="control-label" >Is correct</label>
        <input asp-for="@Model.AnswerB.SelectedAnswer" name="IsCorrect" class="form-check-input" style="float:right" type="checkbox" onclick="handleCheckboxClick(this)" /><br /><br />
    </div>
    <div class="form-group">
        <label asp-for="@Model.AnswerC.Display" class="control-label">C</label>
        <div>@Html.Raw(Model.AnswerC.Display)</div>
        <label asp-for="@Model.AnswerC.SelectedAnswer" class="control-label" >Is correct</label>
        <input asp-for="@Model.AnswerC.SelectedAnswer" name="IsCorrect" class="form-check-input" style="float:right" type="checkbox" onclick="handleCheckboxClick(this)" /><br /><br />
    </div>
    <div class="form-group">
        <label asp-for="@Model.AnswerD.Display" class="control-label">D</label>
        <div>@Html.Raw(Model.AnswerD.Display)</div>
        <label asp-for="@Model.AnswerD.SelectedAnswer" class="control-label" >Is correct</label>
        <input asp-for="@Model.AnswerD.SelectedAnswer" name="IsCorrect" class="form-check-input" style="float:right" type="checkbox" onclick="handleCheckboxClick(this)" /><br /><br />
    </div>
    <div class="form-group">
        <input type="submit" value="YES" class="btn btn-primary" />
    </div>
</form>


@section Scripts{


<script>
    function handleCheckboxClick(clickedCheckbox) {
        var checkboxes = document.getElementsByName("IsCorrect");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] !== clickedCheckbox) {
                checkboxes[i].checked = false;
            }
        }
    }
</script>
}







<script>
</script>