@model WebApp.DTO_Models.ExaminationView

<h1>welcome</h1>
@*<h3>@Model.Question.Display</h3>
<h3>@Model.AnswerA.Display</h3>
<h3>@Model.AnswerB.Display</h3>
<h3>@Model.AnswerC.Display</h3>
<h3>@Model.AnswerD.Display</h3>*@\
<form asp-action="Create">

            <div class="form-group">
                <label asp-for="@Model.Question.Display" class="control-label"></label>
    <input asp-for="@Model.Question.Display" value="@Model.Question.Display" class="form-control" readonly />
    <span asp-validation-for="@Model.Question.Display" class="text-danger"></span>
            </div>

<div class="form-group">
    <label asp-for="@Model.AnswerA.Display" class="control-label">Answer A</label>
    <input asp-for="@Model.AnswerA.Display" class="form-control" readonly />
    <label asp-for="@Model.AnswerA.SelectedAnswer" class="control-label">Is correct</label>
    <input asp-for="@Model.AnswerA.SelectedAnswer" class="form-check-input" type="checkbox" /><br />
    <span asp-validation-for="@Model.AnswerA" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.AnswerB.Display" class="control-label">Answer B</label>
    <input asp-for="@Model.AnswerB.Display" class="form-control" readonly />
    <label asp-for="@Model.AnswerB.SelectedAnswer" class="control-label">Is correct</label>
    <input asp-for="@Model.AnswerB.SelectedAnswer" class="form-check-input" type="checkbox" /><br />
    <span asp-validation-for="@Model.AnswerB" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.AnswerC.Display" class="control-label">Answer C</label>
    <input asp-for="@Model.AnswerC.Display" class="form-control" readonly />
    <label asp-for="@Model.AnswerC.SelectedAnswer" class="control-label">Is correct</label>
    <input asp-for="@Model.AnswerC.SelectedAnswer" class="form-check-input" type="checkbox" /><br />
    <span asp-validation-for="@Model.AnswerC" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.AnswerD.Display" class="control-label">Answer D</label>
    <input asp-for="@Model.AnswerD.Display" class="form-control" readonly />
    <label asp-for="@Model.AnswerD.SelectedAnswer" class="control-label">Is correct</label>
    <input asp-for="@Model.AnswerD.SelectedAnswer" class="form-check-input" type="checkbox" /><br />
    <span asp-validation-for="@Model.AnswerD" class="text-danger"></span>
</div>
    <div class="form-group">
        <input type="submit" value="YES" class="btn btn-primary" />
    </div>
</form>

